<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profesors</title>
</head>
<body>
    <header>
        <h1>Lista de Profesores</h1>
        <a href="{% url 'create' %}">Afegir Usuari</a>
    </header>
    <table>
        <tr>
            <td>ID</td>
            <td>NOM</td>
            <td>COGNOM</td>
            <td>ASSIGNATURA</td>
            <td>ROL</td>
        </tr>
        {% for teacher in teachers_list %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.nom }}</td>
            <td>{{ teacher.cognom }}</td>
            <td>{{ teacher.assignatura }}</td>
            <td>{{ teacher.rol }}</td>
            <td>
                <a href="{% url 'update' teacher.id %}">Actualitzar</a>
                <a href="{% url 'delete' teacher.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>