<!DOCTYPE html>
<html>
   <head>
        <title>Alumnes</title>
   </head>
   <body>
    {% include 'head/header.html' %}
     <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
     <table>
      <tr>
        <td>ID</td>
        <td>NOM</td>
        <td>COGNOM1</td>
        <td>COGNOM2</td>
        <td>CORREU</td>
        <td>CURS</td>
        <td>TUTOR</td>
        <td>MODULS IMPARTITS</td>
      </tr>
      <tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.nom }}</td>
            <td>{{ student.cognom1 }}</td> 
            <td>{{ student.cognom2 }}</td>
            <td>{{ student.correu }}</td>
            <td>{{ student.curs }}</td> 
            <td>{{ student.tutor }}</td>
            <td>{{ student.ModulsImpartits }}</td>
            <td><a href="{% url 'alumne' student.id %}"> +INFO </a></td>
        </tr>
        {% endfor %}
     </table>
   </body> 
</html>